[submodule "additional/ai-governance-framework"]
	path = additional/ai-governance-framework
	url = https://GavinWu@gli-gitlab-ee.genesyslogic.com.tw/CRD/SW/ai-governance-framework/ai-governance-framework.git
